VITE_APP_NAME=SBBL HQ
VITE_DEFAULT_LEAGUE=SBBL
VITE_DEFAULT_PPV_PRICE=2.50
VITE_PUBLIC_BASE_URL=http://localhost:5173
VITE_SUPABASE_URL=https://ezanilxygnpucwkwpsoc.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_5uIVxDWuaI916HXVN9Mb8A_jhrYLPYz
